.VJSIntro {
  background-color: #FFFFF0; 
}

.VJSIntro-title {
  text-align: center;
  font-size: 2em;
}



.StvsEx {
  background-color: #FFFFF0;
}

.StvsEx-title {
  text-align: center;
  font-size: 3em;
}

.StvsEx-intro {
  /*font-size: 2em;*/
}

.Condis {
  background-color: #FFFFF0;
}

.Condis-title {
  text-align: center;
  font-size: 3em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
